.image{
	width:300px;
}
.latest-news-section{
	background-color=white;
	padding:0;
	width:0;
}
.pictorial-news-section{
	background-color:white;
	padding:5px;
	width:0%;
	text-align:center;
	border-radius:5px;
}
th{
	height:70px;
	font-size:2rem;
}
td{
	background-color:white;
	width:33%;
	vertical-align:top;
	text-align:center;
}
header {
      background-color: #011e29;
      padding: 20px;
      color: white;
      text-align: center;
    }
body {
      background-color: #f5f5f5;
}