.image{
	width:300px;
}
th{
	height:70px;
	font-size:2rem;
}
td{
	background-color:white;
	width:33%;
	vertical-align:top;
	text-align:center;
}
header {
      background-color: #011e29;
      padding: 20px;
      color: white;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 20px;
    }
body {
      background-color: #f5f5f5;
}